body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
#myCanvas{
    width: 300px;
    height: 800px;
    text-align: center;
}
